#Driver do banco de dados (DI)
DB_DRIVER=postgres

# Database PGSQL
DB_HOST=postgres
DB_USER=korp
DB_PASSWORD=korp123
DB_PORT=5432
DB_DATABASE=korp_db

# Infra ports
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

# App ports
ESTOQUE_PORT=5002
FATURAMENTO_PORT=5001
FRONTEND_PORT=4200