#Driver do banco de dados (DI)
DB_DRIVER=postgres

# Database PGSQL
DB_HOST=postgres
DB_USER=korp
DB_PASSWORD=korp123
DB_PORT=5432
DB_NAME=korp_db

#migrate automatica, parametrizavel
DB_AUTO_MIGRATE=true

# App ports
ESTOQUE_PORT=5002
FATURAMENTO_PORT=5001
FRONTEND_PORT=4200